*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header{
  background-color: #FF5D77;
  color:#ffffff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header-flex-container{
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* padding: 25px 415px; */

}

header a, 
header h1{
  font-size: 25px;
  color: #fff;
  text-decoration: none;
  font-weight: 100;
}

.titulo{
  display: flex;
  align-items: center;
  gap: 5px;
}

img{
  color: white;
}

.ul-flex-container{
  /* padding: 10px 415px; */
  height: 28px;
  background-color: #F1F1F1;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

ul > li{
  list-style: none;
  border-right: 1px solid #000;
  padding-right: 45px;
}

#ultima-li{
  border-right: none;
}

ul li a{
  text-decoration: none;
  color: #000;
  letter-spacing: 1px;
}


.main-flex-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.imagen-principal{
  background-image: url(../imagenes/fachry-zella-devandra-u3YoW5MX26Y-unsplash.jpg);
background-position: center;
  background-size: cover;
  height: 420px;
  width: 65%;
}

.form{
  border-top: 1px solid #FF5D77;
}

form{
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: ;
  justify-content: center;
  gap: 10px;
  
}

form > div{
  display: flex;
  flex-direction: column;
}

form input, select, button{
  height: 30px;
  border-radius: 10px;
  border: 1px solid #000;
}

.buttons{
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.buttons button{
  width: 50%;
  background-color: #ff5d78;
  color: #ffffff;

}
